{% load static %}



<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>NP |{% block title %}{% endblock title %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/styles.css' %}" rel="stylesheet" />

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'news_list'%}">News Portal w/Django</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'news_list'%}">All News
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'news_search'%}">Поиск</a>

          </li>
          <li class="nav-item">
              {% if perms.newsportal.change_post or perms.newsportal.delete_post %}
                <a class="nav-link" href="{% url 'news_edit'%}">Создать новость</a>
          </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'artl_edit'%}">Написать пост</a></li>
                  {% else %}
                 <li class="nav-item">
                        {% if not is_author %}
                <a class="nav-link" href="{% url 'account_upgrade' %}">Стать автором</a></li>
                            {% endif %}

              {% endif %}
<ul>
<li class="nav-item" style="text-align: right;"><a class="nav-link" >Привет, {{ user.username }}!</a></li>
</ul>
        <ul>
<li class="nav-item" style="text-align: right;"><a class="nav-link" href="http://127.0.0.1:8000/accounts/logout">Выйти</a></li>
</ul>


        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div>
       {% block content %}
       {{ flatpage.content }}
       {% endblock content %}
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->

</body>

</html>