{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
🔥All Posts
{% endblock title %}


{% block content %}
   <h1 style="text-align: center;">Все новости и статьи</h1>
    <p style="text-align: center;">Количество постов: {{ news|length }}</p>

{% if not is_author %}
<button>
    <a class="nav-link" href="{% url 'account_upgrade' %}">
        <h4><strong>Join the authors!</strong></h4>
    </a>
</button>
{% endif %}


   <hr>

{% if news %}


           {% for news in news %}

               <p><strong>Название: </strong><a href="{% url 'exactly_news' news.id %}">{{ news.post_title|censor }}</a></p>

               <p><strong>Содержание: </strong>{{ news.post_body|truncatechars:240|censor }}</p>
               <strong>Автор: </strong>{{ news.author.user }}
               <strong>🕗</strong>{{ news.post_datetime|date:'d M' }}
            <strong>Тема</strong>
    {% for cat in news.categories.all %}
                        <a href="{% url 'category_list' cat.id %}">{{ cat.category }}</a>


    {% endfor %}

               <p></p>

{#{% if perms.newsportal.change_post or perms.newsportal.delete_post %}#}
{#                <strong>Действия</strong>#}
{##}
{#{% endif %}#}
 {# А здесь доступ для каждой ссылки теперь будем проверять отдельно #}

                    {% if perms.newsportal.change_post %}
                        {% if news.post_type == "NEWS" %}
                            <button>
                            <a href="{% url 'news_update' pk=news.pk %}">Изменить</a>
                            </button>
                        {% elif news.post_type == "ARTL" %}
                            <button>
                            <a href="{% url 'artl_update' pk=news.pk %}">Изменить</a>
                            </button>
                        {% endif %}
                    {% endif %}

                    {% if perms.newsportal.delete_post %}
                    {% if news.post_type == "NEWS" %}
                            <button>
                            <a href="{% url 'news_delete' pk=news.pk %}">Удалить</a>
                            </button>
                        {% elif news.post_type == "ARTL" %}
                        <button>
                            <a href="{% url 'artl_delete' pk=news.pk %}">Удалить</a>
                        </button>
                        {% endif %}
                    {% endif %}


<hr /> {#линия отбивки#}
           {% endfor %}

<p style="text-align: center;">
<br> <strong><a href="{% url 'news_search' %}">👀Поиск</a> </strong><br>
   {% else %}
       <h2>Постов нет!</h2>
   {% endif %}
</p>
{# Добавляем пагинацию на страницу #}
   {# Информация о предыдущих страницах #}
<p style="text-align: center;">
{% if page_obj.has_previous %}
    <a href="? url_replace page=1">1</a>
    {% if page_obj.previous_page_number != 1 %}
        ...
        <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}

{# Информация о текущей странице #}
{{ page_obj.number }}

{# Информация о следующих страницах #}
{% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
</p>

{% endblock content %}